html {
  --primary-color: #007aff;
  --text-color: #222222;
  --text-color--accent: #ffffff;
  --background-color--primary: #f1f2f7;
  --background-color--secondary: #fff;
  --background-color--tertiary: #e1e1e1;
  --background-color--active: #007aff;
}
